name: ziti-mattermost-action-py
on:
  create:
  delete:
  issues:
  issue_comment:
  pull_request_review:
  pull_request_review_comment:
  pull_request:
  push:
  fork:
  release:
    types: [released]

jobs:
  ziti-webhook:
    runs-on: ubuntu-latest
    name: Ziti Mattermost Action - Py
    steps:
    - name: Post to dev-notifications
      uses: smilindave26/ziti-mattermost-action-py@main
      with:
        zitiId: ${{ secrets.ZITI_MATTERMOST_IDENTITY }}
        webhookUrl: ${{ secrets.ZHOOK_URL }}
        eventJson: ${{ toJson(github.event) }}
        senderUsername: "GitHubZ"
        destChannel: "@david.hart"
    # - name: Re-post Pull Requests to github-just-pull-requests
    #   uses: smilindave26/ziti-mattermost-action-py@main
    #   if: github.event_name == 'pull_request'
    #   with:
    #     zitiId: ${{ secrets.ZITI_MATTERMOST_IDENTITY }}
    #     webhookUrl: ${{ secrets.ZHOOK_URL }}
    #     eventJson: ${{ toJson(github.event) }}
    #     senderUsername: "GitHubZ"
    #     destChannel: "github-just-pull-requests"
      # - name: Re-post Releases to openziti-visibility
      # TODO